# Gradle-Verzeichnisse und Build-Dateien
.gradle/
build/
bin/

# IDE-spezifische Konfigurationen (z. B. VS Code / IntelliJ)
.vscode/
.idea/
*.iml

# Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db